h3 {
  font-size: 1.9em;
}
/*-----------------Header------------------------*/
header {
  display: flex;
  background: var(--primaire);
  justify-content: center;
  width: 100%;
}

/*-----------------Section Banner------------------------*/
.section-banner {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.section-banner .fa-location-dot {
  color: black;
}
.section-banner h3{
  font-size: 1.1em;
}

/*----------------Section CTA-------------------------*/
.section-cta {
  width: 100%;
  height: 55vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border-radius: 50px;
  text-align: center;
}

.section-cta>button {
  background: linear-gradient(170deg, var(--secondaire), var(--primaire));
  border-radius: 50px;
  height: 80px;
  width: 40%;
  margin-bottom: 20px;
  border-style: none;
  color: white;
  font-size: 1.8em;
}
/*------------------section fonctionnement-----------------------*/
.section-fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 97%;
  background: grey;
}
/*titre fonctionnement h3*/
.titre-section-fonctionnement {
  align-self: start;
  margin:0;
  margin-left:3%;
  width: 100%;
}
/*boutton fonctionnement*/
.btn-fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 1% 4%;
  position: relative;
}
.btn-fonctionnement span{
  padding: 1%;
  border-radius: 50%;
  height: 22%;
  width:6%;
  position: absolute;
  top:38%;
  left: -4%;
  background: var(--primaire);
  color: white;
}
.contenu-btn{
  width: 50%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/*------------------section restau -----------------------*/
.section-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  background: grey;
}

.titre-section-restau {
  text-align: center;
  width: 100%;
}
.conteneur-card-restau{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}

  /*************************Essai de placement avec Grid
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
}
.card-restau :nth-child(1){
  grid-area: 1 / 1 / 2 / 2;
  

}
.card-restau :nth-child(2){
  grid-area: 1 / 2 / 2 / 3;

}
.card-restau :nth-child(3){
  grid-area: 2 / 1 / 3 / 2;

}
.card-restau :nth-child(4){
  grid-area: 2 / 2 / 3 / 3;
}

**********************************************************/
.card-restau{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 40%;
  margin-top: 30px;
}
.card-restau figure {
  margin:0;
  width: 100%;
}
.image-carte-section-restaurant {
  width: 100%;
}


/*------------------Footer-----------------------*/
footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 150px !important;
  

  
}
.logo-pdp{
  width: 100px;
  margin: 0 3% 0 0 !important;
}
footer nav{
  margin-right: 3% !important;
  width: 60%;

}
footer nav ul{
  display: flex;
  justify-content: space-around;
  margin: 0 !important;
  
}

