@media screen and (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    width: 100%;
  }
  header i {
    margin-left: 3%;
  }
  .logo {
    margin-left: 25%;
    width: 50%;
  }
  .conteneur-image-plat {
    z-index: 90;
  }
  .conteneur-image-plat img {
    width: 100%;
  }
  .conteneur-restau-nom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .carte-menu div h1 {
    margin-left: 5%;
    font-size: 25px;
  }
  .carte-menu div i {
    font-size: 19px;
    margin-right: 5%;
  }

  .carte-menu {
    z-index: 99;
    margin-top: -60px;
    width: 100%;
    background: red;
    border-radius: 25px 25px 0 0;
  }

  .menu-plat {
  }
}
