header{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    width: 100%;
    
}
.logo{
    width: 50%;
}
.section-menu{
    width: 70%;
    background: #000;

}
.image-plat{
    
}
.image-plat>img{
    width: 100%;

}
.menu-items{
    
}
