
h1,h2,h3,h4,h5,h6{
    font-family: var(--police-titre);
}
p{
    font-family: var(--police-texte);
    
}
header{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    
}
header>img{
    width: 50%;
}
.section-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAEAEA;
    column-gap: 2%;
}

.section-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    background: #F7F7F7;
}
.section-cta>h3{
    width: 70%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    font-family: var(--police-texte);
    margin-bottom: 0;

}
.section-cta>p{
    font-size: 1em;
    width: 80%;
    text-align: center;
}
.section-cta>button{
    margin-top: 0;
    width: 60%;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(170deg, var(--secondaire), var(--primaire));
    border: none;
    color: white;

}
.section-fonctionnement{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
}
.btn-fonctionnement{
    display: flex;
    align-items: center;
    column-gap: 2px;
    width: 80%;
    height: 80px;
    border-radius: 25px;
    border: none;
    margin: 0 auto;
    position: relative;
}
/*Mettre le chiffre sur la bordure gauche du bouton */
.section-fonctionnement>span{
    


}
.section-restaurant{
    width: 90%;
    background-color: #9356DC;
    
}

.section-restaurant figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: red;
   
}

.section-restaurant figcaption{
    background-color: blue;

}
.card-restau{
    height: 200px;
}
.image-carte-section-restaurant{
    width: 95%;

}