
h1,h2,h3,h4,h5,h6{
    font-family: var(--police-titre);
}
p{
    font-family: var(--police-texte);
    
}

header{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    width: 100%;
    
}
header>img{
    width: 50%;
}
.section-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAEAEA;
    width: 100%;
    column-gap: 2%;
}

.section-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    background: #F7F7F7;
    width: 100%;
}
.section-cta>h3{
    width: 70%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    font-family: var(--police-texte);
    margin-bottom: 0;

}
.section-cta>p{
    font-size: 1em;
    width: 80%;
    text-align: center;
}
.section-cta>button{
    margin: 0 auto;
    width: 60%;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(170deg, var(--secondaire), var(--primaire));
    border: none;
    color: white;

}
.section-fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    row-gap: 30px;
    
}
.titre-section-fonctionnement{
    margin-top: 30px;
    font-size: 24px;
    align-self: baseline;
    margin-left: 5%;
}

.btn-fonctionnement{
    display: flex;
    align-items: center;
    column-gap: 2px;
    width: 80%;
    height: 80px;
    border-radius: 25px;
    border: none;
    margin: 0 auto;
    position: relative;
}
/*Mettre le chiffre sur la bordure gauche du bouton */
.btn-fonctionnement span{
    padding: 1%;
    border-radius: 50%;
    height: 22%;
    width:6%;
    position: absolute;
    top:38%;
    left: -4%;
    background: var(--primaire);
    color: white;
    


}
.contenu-btn{
    margin-left:4%;
    width: 80%;
    display: flex;
    align-items: center;;
    justify-content: space-around;

}
.contenu-btn p{
    font-size: 18px;
    font-family: var(--police-texte);
    margin: 0;
}

.section-restaurant{
    width: 100%;
    margin-top: 50px;
    background: #F7F7F7;

    
}
.titre-section-restau{
    padding-top: 30px;
    font-size: 24px;
    align-self: baseline;
    margin-left: 5%;
}

/*balise a*/
.card-restau{
    width: 90%;
    margin-left: 5%;
    height: 200px;
    border-radius: 20px;
    

    
}
.etiquette-nouveau{
    position: absolute;
    top: 7%;
    right: 4%;
    background:#99E2D0 ;
    color: #018766;
    height: 8%;
    width:20%;
    padding: 1%;
    text-align: center;
    

}
.card-restau figure{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 240px;
    margin: 0 5% 2% 5%;
    background: white;
    border-radius: 20px;
    position: relative; 
    box-shadow: 5px 5px 5px #E7E7E7;
   
}
.image-carte-section-restaurant{
    margin: 0;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}
.section-restaurant figcaption{
    width: 92%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%; 
    


}
.conteneur-texte, .conteneur-coeur{
    display: flex;
    flex-direction: column;

}
.conteneur-texte{
    height: 100%;
    width: 90%;
}
.conteneur-coeur{
    height: 95%;
    width: 10%;
    align-items: flex-start;
    margin-top: 5%;

}
.conteneur-texte  h4{
    text-decoration: none;
    margin: 3% 0 0 0;
}
.conteneur-texte  p{
    margin: 2% 0 0 0;
}
.fa-heart{

    font-size: 18px;
    color: black;
    height: 100%;
}
.fa-heart::before{
    font-weight: 200;
} 

.fa-heart:hover{
    color: #FFB800;
    background-color: #FFB800;
}

footer{
    width:100%;
    height: 200px;
    background: #353535;
    color: white;
}
.logo-pdp{
    -webkit-filter: invert(100%);
    margin: 5% 0 0 8%;
    width:90px;
}
footer nav{
    margin:0;
}
footer nav ul {
    list-style: none;
    margin:8%;
    padding: 0;
    


}
footer nav ul li{
    margin: 0;
}
.contact-mail{
    text-decoration: none;
    color: white;
}

footer nav ul li i{
    margin-right: 5px ;
}