
h1,h2,h3,h4,h5,h6{
    font-family: var(--police-titre);
}
p{
    font-family: var(--police-texte);
    
}

header{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    width: 100%;
    
}
header>img{
    width: 50%;
}
.section-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAEAEA;
    width: 100%;
    column-gap: 2%;
}

.section-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    background: #F7F7F7;
    width: 100%;
}
.section-cta>h3{
    width: 70%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    font-family: var(--police-texte);
    margin-bottom: 0;

}
.section-cta>p{
    font-size: 1em;
    width: 80%;
    text-align: center;
}
.section-cta>button{
    margin: 0 auto;
    width: 60%;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(170deg, var(--secondaire), var(--primaire));
    border: none;
    color: white;

}
.section-fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    row-gap: 30px;
    
}
.titre-section-fonctionnement{
    align-self: baseline;
    margin-left: 5%;
}

.btn-fonctionnement{
    display: flex;
    align-items: center;
    column-gap: 2px;
    width: 80%;
    height: 80px;
    border-radius: 25px;
    border: none;
    margin: 0 auto;
    position: relative;
}
.contenu-btn{
    margin-left:4%;
    width: 80%;
    display: flex;
    align-items: center;;
    justify-content: space-around;

}
.contenu-btn p{
    font-size: 18px;
    font-family: var(--police-texte);
    margin: 0;
}



/*Mettre le chiffre sur la bordure gauche du bouton */
.btn-fonctionnement span{
    padding: 1%;
    border-radius: 50%;
    height: 20%;
    width:6%;
    position: absolute;
    top:40%;
    left: -3%;
    background: var(--primaire);
    color: white;
    


}
.section-restaurant{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(239, 236, 236);

    
}

/*balise a*/
.card-restau{
    width: 90%;
    margin-left: 5%;
    height: 200px;
    border-radius: 20px;
    position: relative;
}
.etiquette-nouveau{
    position: absolute;
    top: 90%;
    

}
.card-restau figure{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: white;
    border-radius: 20px;
   
}
.image-carte-section-restaurant{
    margin: 0;
    width: 100%;
    height: 65%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}
.section-restaurant figcaption{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.fa-heart{
    color:black;
    font-size: 30px;
}
footer{
    width:100%;
    height: 200px;
    background: black;
    color: white;
}
.logo-pdp{
    -webkit-filter: invert(100%);
    margin: 20px 15px 0 15px;
    width:90px;
}
footer nav ul {
    list-style: none;
    gap: 40px;

}
footer nav ul li{
    margin: 5px 0;
}

footer nav ul li i{
    margin-right: 5px ;
}