@import url("restaurant-desktop.css");
header img{
  filter: invert(0);
  -webkit-filter: invert(0);
  height:50px;
}
.liste-menu {
  width: 100%;
}
.menu-plat{
  margin-left: 10%;
  width: 80%;
  
}
.container-menu{
  display: flex;
  flex-direction: column;
}
h3{
  margin:20px 5%;
}

