@import url("../index.css");

  main {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    width: 95%;
  }
  /*balise a*/
  .fleche-gauche {
    margin-left: 5%;
  }
  .fa-arrow-left {
    font-size: 20px;
  }

  .logo {
    margin-left: 20%;
    width: 50%;
    max-width: 200px;
    height:100%;
    justify-self: center;
  }
  .conteneur-image-plat {
    width: 100%;
    height: 30vh;
    object-fit:cover ;

  }
  .conteneur-restau-nom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .carte-menu {
    position: relative;
    top: -30px;
    z-index: 5;
    width: 100%;
    background: #f7f7f7;
    border-radius: 25px 25px 0 0;
    padding-bottom: 20px;
  }
  .carte-menu div h1 {
    margin-left: 5%;
    font-size: 25px;
  }
  .carte-menu div i {
    font-size: 19px;
    margin-right: 5%;
  }
  /*Les titres entréesplats desserts*/
  h3 {
    font-size: 21px;
    margin-left: 4%;
    text-transform: capitalize;
    position: relative;
  }
  h3::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid green;
  }
  /*section menu*/
  .menu-plat {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /*background-color:purple;*/
    height: 100%;
    width: 94%;
    margin-left: 3%;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #e7e7e7;
    animation: animation-menu 1s ease-in 0s 1 normal both;
    position: relative;
  }
  .menu-plat:hover .conteneur-animation-check,
  .menu-plat:active .conteneur-animation-check {
    visibility: visible;
    animation: animation-check-slide-left 0.5s ease-out 0s forwards;
  }
  .menu-plat:hover .info-plat,
  .menu-plat:active .info-plat {
    width: 60%;
  }
  .menu-plat:hover .prix,
  .menu-plat:active .prix {
    animation: animation-check-slide-left 0.5s ease-out 0s forwards;
  }
  .menu-plat:hover .fa-circle-check,
  .menu-plat:active .fa-circle-check {
    animation: rotation 0.5s ease 0.3s forwards;
  }
  .fa-circle-check::before {
    font-size: 30px;
    color: white;
  }
  /*Div qui contient le prix*/
  .prix {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .info-plat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    width: 80%;
    height: 100%;
  }
  .info-plat > p,h5 {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .conteneur-animation-check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background-color: #99e2d0;
    border-radius: 0 15px 15px 0;
    position: absolute;
    right: -20%;
    visibility: hidden;
  }

  @keyframes animation-check-slide-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .info-plat h5,
  p {
    margin: 5px 0 5px 5px;
  }
  .info-plat h5 {
    font-size: 18px;
  }
  .info-plat p {
    font-size: 16px;
  }
  .menu-plat span {
    margin-bottom: 10px;
    margin-right: 5%;
  }
  footer {
    padding-top: -30px;
  }
  @keyframes animation-menu {
    0% {
      opacity: 0;
      margin-top: 10px;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }

