
/*-----------------Header------------------------*/
header {
  display: flex;
  background: var(--primaire);
  justify-content: center;
  width: 100%;
}
header img{
  width:20%;
  margin: 1% 0;
  filter: invert(1);
  -webkit-filter: invert(1);
}

/*-----------------Section Banner------------------------*/
.section-banner {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.section-banner .fa-location-dot {
  color: black;
}
.section-banner h3{
  font-size: 1.1em;
}

/*----------------Section CTA-------------------------*/
.section-cta {
  width: 100%;
  height: 55vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border-radius: 50px;
  text-align: center;
}
section>h3 {
  font-size: 1.9em;
}

.bouton-glob {
  background: linear-gradient(170deg, var(--secondaire), var(--primaire));
  border-radius: 50px;
  height: 80px;
  width: 40%;
  margin-bottom: 20px;
  border-style: none;
  color: white;
  font-size: 1.8em;
}
/*------------------section fonctionnement-----------------------*/
.section-fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 97%;
}
/*titre fonctionnement h3*/
.titre-section-fonctionnement {
  align-self: start;
  margin:0;
  margin-left:3%;
  width: 100%;
}
/*boutton fonctionnement*/
.btn-fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-width:300px ;
  margin: 1% 4%;
  position: relative;
  border-radius: 15px;

  
}
.btn-fonctionnement span{
  padding: 1%;
  border-radius: 50%;
  height: 22%;
  width:6%;
  position: absolute;
  top:38%;
  left: -4%;
  background: var(--primaire);
  color: white;
}
.contenu-btn{
  width: 50%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/*------------------section restau -----------------------*/
.section-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;

}

.titre-section-restau {
  text-align: center;
  width: 100%;
}
.conteneur-card-restau{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}

/*Balise <a>*/
.card-restau{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 40%;
  margin-top: 30px;
  
}
.card-restau figure {
  margin:0;
  width: 100%;
  -webkit-drop-shadow: 0 0 50px rgba(0,0,0,0.5);
  
}
.card-restau figcaption{
  width: 100%;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.conteneur-texte{
  margin-right: 50%;
  

}
.image-carte-section-restaurant {
  width: 100%;
  height: 300px;
  
}


/*------------------Footer spécial desktop-----------------------*/
footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 150px !important;
  margin-top: 50px;
  

  
}
.logo-pdp{
  width: 100px;
  margin: 0 3% 0 0 !important;
}
footer nav{
  margin-right: 3% !important;
  width: 60%;

}
footer nav ul{
  display: flex;
  justify-content: space-around;
  margin: 0 !important;
  
}

