@import url("../index.css");
@import url("mobile.css") (max-width: 767px);
@import url("tablet.css") (min-width: 768px) and (max-width: 991px);
@import url("desktop.css") (min-width: 992px);


.btn-fonctionnement{
    background: #F7F7F7;
}
/*Btn fonctionnement = active , hover*/
.btn-fonctionnement:hover,:active{
    background: #F5EDFF;
}

.card-restau figure{
    position: relative; 
    box-shadow: 5px 5px 5px #E7E7E7;
    border-radius: 20px;
}
.etiquette-nouveau{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7%;
    right: 4%;
    background:#99E2D0 ;
    color: #018766;
    height: 8%;
    width:20%;
    padding: 1%;
    text-align: center;
    

}