@import url("/css/style.css");
@import url("/css/normalize.css");
@media screen and (max-width: 767px) {
  main {
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    width: 95%;
  }
  /*balise a*/
  .fleche-gauche {
    margin-left: 5%;
  }
  .fa-arrow-left {
    font-size: 20px;
  }

  .logo {
    margin-left: 20%;
    width: 50%;

    justify-self: center;
  }
  .conteneur-image-plat {
    width: 100%;
  }
  .conteneur-restau-nom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .carte-menu {
    position: relative;
    top: -30px;
    z-index: 5;
    width: 100%;
    background: #f7f7f7;
    border-radius: 25px 25px 0 0;
    padding-bottom: 20px;
  }
  .carte-menu div h1 {
    margin-left: 5%;
    font-size: 25px;
  }
  .carte-menu div i {
    font-size: 19px;
    margin-right: 5%;
  }
  /*Les titres entréesplats desserts*/
  h3 {
    font-size: 21px;
    margin-left: 4%;
    text-transform: capitalize;
    position:relative;
  }
  h3::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid green;
  }
  /*section menu*/
  .menu-plat {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /*background-color:purple;*/
    height: 80px;
    width: 94%;
    margin-left: 3%;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #e7e7e7;
    animation: animation-menu 1s ease-in 0s 1 normal both;
  }
  .info-plat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: green;*/
    border-radius: 15px 0 0 15px;
    width: 60%;
    height: 100%;
  }
  .conteneur-info-check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin:0;
  }
  .conteneur-info-check{
    
  }

  @keyframes animation-check {
    0% {

    }
    25% {

    }
    50% {

    }
    75% {

    }
    100% {
      
    }
  }

  .info-plat h5,
  p {
    margin: 5px 0 5px 5px;
  }
  .info-plat h5 {
    font-size: 18px;
  }
  .info-plat p {
    font-size: 16px;
  }
  .menu-plat span {
    margin-bottom: 10px;
    margin-right: 5%;
  }
  footer {
    margin-top: -30px;
  }
  @keyframes animation-menu {
    0% {
      opacity:0;
      margin-top: 10px ;
    }
    100% {
      opacity:1;
      margin-top:0 ;
    }
  }
 
}