@import url('/css/index.css');
@media screen and (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    width: 95%;
  }
  .fleche-gauche {
    margin-left: 5%;

  }
  .logo {
    margin-left: 30%;
    width: 50%;
    
    justify-self: center;
  }
  .conteneur-image-plat {
    z-index: 100;
  }
  .conteneur-image-plat img {
    width: 100%;
  }
  .conteneur-restau-nom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .carte-menu {
    z-index: 99;
    width: 100%;
    /*background: red;*/
    border-radius: 25px 25px 0 0;
    padding-bottom: 20px;
  }
  .carte-menu div h1 {
    margin-left: 5%;
    font-size: 25px;
  }
  .carte-menu div i {
    font-size: 19px;
    margin-right: 5%;
  }

  /*section menu*/
  .menu-plat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:purple;
    height: 80px;
    width: 94%;
    margin-left:3%;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #E7E7E7;
  }
  .info-plat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: green;
    width: 60%;
    height: 100%;
  }

  .info-plat h5,p{
    margin: 5px 0 5px 5px;



    
  }
  .menu-plat span{
    margin:0;
    margin-top: 2%;
    margin-right: 5%;


  
  }


}